/* reset  */

/* base */

/* layout */

/* template */

/* state */

/*
* reset
*
* http://meyerweb.com/eric/tools/css/reset/
* v2.0 | 20110126
* License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #fff;
  font-family: georgia, 'times new roman', times, serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* base */

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* layout */

header {
  border-bottom: 1px solid #e2e2e2;
}

.grid-header {
  align-items: center;
  max-width: 1349px;
  height: 42px;
  margin: 0 auto;
  padding: 4px 15px 2px;
}

.flex {
  display: flex;
}

.banner-image {
  max-width: 945px;
  margin: 0 auto;
}

.banner-image img {
  width: 100%;
}

.banner-image figcaption {
  max-width: 720px;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #666;
}

.main-content-info {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.main-content-info-inner {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 400;
  font-stretch: 100%;
}

.center-text {
  text-align: center;
}

.spaced-flex {
  justify-content: space-between;
}

.main-content-aside {
  position: absolute;
  right: 0;
  top: 250px;
  max-width: 210px;
  font-size: 14px;
}

.aside-info {
  align-items: center;
  margin-bottom: 15px;
  font-weight: 500;
  line-height: 17px;
}

.main-content-aside h3 {
  padding-bottom: 12px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(226, 226, 226);
  font-weight: 700;
  line-height: 14px;
}

.aside-info img {
  width: 75px;
  height: 75px;
  margin-right: 10px;
}

.inflation-image {
  background-image: url("https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png");
  width: 100%;
  height: 575px;
  background-size: cover;
  background-position: center;
}

.inflation-image-text p {
  float: left;
  width: 228px;
  font-family: arial, helvetica, sans-serif;
  font-size: 11px;
  line-height: 17px;
  font-weight: 300;
}

.inflation-image .p-one {
  padding-top: 145px;
}

.inflation-image .p-two {
  padding-top: 280px;
}

.inflation-image-text p:first-child,
.inflation-section-div-two p:first-child {
  margin-right: 10px;
}

.inflation-image-text p:nth-child(2),
.inflation-section-div-two p:nth-child(2) {
  margin-right: 15px;
}

.inflation-image-text p:nth-child(3),
.inflation-section-div-two p:nth-child(3) {
  margin-right: 8px;
}

.inflation-footer::before {
  width: 60px;
  background-color: #000;
  display: block;
  height: 1px;
  content: "";
  margin: 0 0 13px;
  margin-top: 24px;
}

iframe {
  width: 100%;
  height: 315px;
  border: none;
}

.telescope-image img {
  width: 100%;
  height: 400px;
}

.footer-container {
  max-width: 1170px;
  margin: 0 auto;
}

.article-container {
  max-width: 852px;
  float: left;
}

.footer-aside-container {
  max-width: 315px;
  float: right;
}

.article-content-main {
  width: 272px;
  margin-right: 15px;
}

.article-content-main img {
  width: 100%;
  height: auto;
}

.clear {
  clear: both;
}

.logo-homepage-link {
  align-items: center;
}

.display-grid {
  display: grid;
}

.footer-links {
  grid-template-columns: repeat(6, 1fr);
}

.fixed-footer {
  grid-template-columns: 3fr 1fr;
  text-align: center;
}

.justify-center {
  justify-content: flex-end;
}

/* template */

.nav-icons {
  width: 16px;
  height: 16px;
  margin: 0 17px 0 9px;
}

.icons-titles span {
  font-weight: 700;
  font-size: 14.25px;
  line-height: 19px;
}

.grid-header img {
  width: 195px;
  height: auto;
}

.grid-header button {
  font-size: 11px;
  padding: 11px 12px 8px;
  background-color: rgb(86, 123, 149);
  font-weight: 700;
  color: #fff;
  border-radius: 3px;
  border: 1px solid rgb(50, 104, 145);
  transition: all 0.6s ease 0s;
  vertical-align: middle;
}

.main-content-info-inner h1 {
  font-size: 35px;
  font-style: italic;
  color: #121212;
  margin-top: 60px;
  margin-bottom: 16px;
  line-height: 3rem;
}

.aside-info a {
  color: rgb(51, 51, 51);
}

.banner-image figcaption span {
  color: #888;
  font-size: 0.8125rem;
}

.shade-blue {
  color: #326891;
}

.underline-link {
  text-decoration: underline;
}

.main-color {
  color: #333;
}

.helvetica {
  font-family: helvetica, arial, sans-serif;
}

.main-content-author {
  font-size: 0.8125rem;
  font-weight: 700;
}

.publish-date {
  font-weight: 500;
  font-size: 13px;
}

.times-subscription {
  font-weight: 700;
  font-size: 15px;
  text-size-adjust: 100%;
  line-height: 19px;
}

.color-black {
  color: #000;
}

.bold-paragraph {
  font-weight: 700;
  line-height: 30px;
}

.astronomers-discovery {
  color: #666;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: georgia, "times new roman", times, serif;
}

.bold {
  font-weight: bold;
}

.inflation-footer {
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  font-weight: 500;
  line-height: 18px;
}

/* state */

.underlink-link-hover:hover {
  text-decoration: underline;
}

.un-underlink-link-hover:hover {
  text-decoration: none;
}
