/* reset  */

/* base */

/* layout */

/* template */

/*
* reset
*
* http://meyerweb.com/eric/tools/css/reset/
* v2.0 | 20110126
* License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* base */

* {
  box-sizing: border-box;
}

/* layout */
header {
  border-bottom: 1px solid #e2e2e2;
}

.grid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1342px;
  height: 42px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 16px;
}

.contain-image {
  max-width: 945px;
  margin: 0 auto;
}

.contain-image img {
  width: 100%;
}

.contain-image p {
  max-width: 720px;
  height: 58px;
}

.main-content-info {
  margin: 0 auto;
  max-width: 400px;
}

.main-content-span {
  text-align: center;
}

.date-social {
  display: flex;
  justify-content: space-between;
}

aside {
  position: absolute;
  top: 1200px;
  right: 180px;
  width: 210px;
  height: 328px;
}

.aside-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

aside h3 {
  padding-bottom: 12px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(226, 226, 226);;
}

.aside-info img {
  width: 75px;
  height: 75px;
  margin-right: 10px;
}

/* template */

.aside-info a {
  text-decoration: none;
}
