/* reset  */

/* base */

/* layout */

/* template */

/*
* reset
*
* http://meyerweb.com/eric/tools/css/reset/
* v2.0 | 20110126
* License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* base */

* {
  box-sizing: border-box;
}

/* layout */
header {
  border-bottom: 1px solid #e2e2e2;
}

.grid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1349px;
  height: 42px;
  margin: 0 auto;
}

.banner-image {
  max-width: 945px;
  margin: 0 auto;
}

.banner-image img {
  width: 100%;
}

.banner-image figcaption {
  max-width: 720px;
}

.main-content-info {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}


.main-content-info-inner {
  max-width: 600px;
  margin: 0 auto;
}

.main-content-span {
  text-align: center;
}

.date-social {
  display: flex;
  justify-content: space-between;
}

.main-content-aside {
  max-width: 210px;
  position: absolute;
  right: 0;
  top: 250px;
}

.aside-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.main-content-aside h3 {
  padding-bottom: 12px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.aside-info img {
  width: 75px;
  height: 75px;
  margin-right: 10px;
}

.inflation-image {
  background-image: url("https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png");
  width: 100%;
	height: 575px;
	background-size: cover;
  background-position: center;
}

.inflation-image-text p {
  width: 228px;
  float: left;
}

.inflation-image .p-one {
  padding-top: 145px;
}

.inflation-image .p-two {
  padding-top: 280px;
}

.inflation-image-text p:first-child,
.inflation-section-div-two p:first-child {
  margin-right: 10px;
}

.inflation-image-text p:nth-child(2),
.inflation-section-div-two p:nth-child(2) {
  margin-right: 15px;
}

.inflation-image-text p:nth-child(3),
.inflation-section-div-two p:nth-child(3) {
  margin-right: 8px;
}

.inflation-footer::before {
  width: 60px;
  background-color: #000;
  display: block;
  height: 1px;
  content: "";
  margin: 0 0 13px;
  margin-top: 24px;
}

iframe {
  width: 100%;
  height: 315px;
  border: none;
}

.telescope-image img {
  width: 100%;
  height: 400px;
}

.footer-article-container {
  max-width: 1170px;
  margin: 0 auto;
}

.article-container {
  max-width: 852px;
  float: left;
}

.footer-aside-container {
  max-width: 315px;
  float: right;
}

.article-content {
  display: flex;
}

.article-content-main {
  width: 272px;
  margin-right: 15px;
}

.article-content-main img {
  width: 100%;
  height: auto;
}


/* template */

.aside-info a {
  text-decoration: none;
}
